<%- include('partials/header.ejs') %>

<div class="banner-text">
    <h1>Heading</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Quaerat voluptate error repellat? Error et voluptas culpa, 
        rem labore quod omnis voluptatum deleniti reprehenderit quos 
        odit alias minus itaque, dicta commodi.</p>
</div>

<%- include('partials/footer.ejs') %>